Repository countr/website, pull requests merged in 2022-10, with the labels that each got.

#245 Fix broken build
  .github/renovate.json
  package-lock.json
  package.json
Labels: bug, repository

#262 Add position roles content
  content/blog/2022-10-03-happy-hacktoberfest.md
  content/blog/2022-10-03-unique-role.md
  content/blog/2022-10-14-position-roles-are-finally-here.md
  content/docs/01-features/08-position-roles.md
  content/docs/01-features/09-notifications.md
  content/docs/01-features/10-timeouts.md
Labels: enhancement, content

#265 Premium position roles
  content/docs/01-features/07-scores-and-leaderboard.md
  content/docs/03-premium.md
Labels: content
